
@{
   
    @model ITCA_Plus.Models.Alumno
    ViewBag.Title = "CertificadoNotas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

            <div id="contenido">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Carnet</td>
                            <td>Nombre</td>
                            <td>Nacimiento</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (ITCA_Plus.Models.Alumno item in ViewBag.data)
                            {
                                <tr>
                                    <td>@item.carnet</td>
                                    <td>@item.nombre</td>
                                    <td>@item.fecha_nacimiento</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
