
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("AgregarDocente", "Admin")" class="text-decoration-none small">Agregar docente</a>
<a href="@Url.Action("Materia", "Admin")" class="text-decoration-none small">Agregar Materia</a>
<a href="@Url.Action("Index", "GradoMateria")" class="text-decoration-none small">Grado opciones</a>