@{
    ViewBag.Title = "Reporte de Perfiles de Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte de Perfiles de Docentes</h2>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet" />

<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tablaDocentes" class="table table-striped table-bordered nowrap w-100">
                <thead class="table-dark">
                    <tr>
                        <th>ID Docente</th>
                        <th>Usuario ID</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Especialidad</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <script>
        $(document).ready(function () {
            $('#tablaDocentes').DataTable({
                ajax: {
                    url: '@Url.Action("ObtenerPerfilesDocentes", "Reporte")',
                    dataSrc: 'data'
                },
                columns: [
                    { data: 'docente_id' },
                    { data: 'usuario_id' },
                    { data: 'nombre_docente' },
                    { data: 'telefono' },
                    { data: 'correo' },
                    { data: 'rol' },
                    { data: 'especialidad' }
                ],
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                responsive: true
            });
        });
    </script>
}

